{:highlights [{:id #uuid "64848ebf-9c17-4bc3-af31-c32b18e80c99",
               :page 29,
               :position {:bounding {:x1 47,
                                     :y1 103.3330078125,
                                     :x2 658,
                                     :y2 173.3330078125,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1686408894189},
               :properties {:color "green"}}
              {:id #uuid "64849416-dcc1-41b1-8bd0-7891850528d8",
               :page 30,
               :position {:bounding {:x1 47,
                                     :y1 154,
                                     :x2 559,
                                     :y2 429,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 30},
               :content {:text "[:span]", :image 1686410261375},
               :properties {:color "red"}}
              {:id #uuid "64849485-9f2a-4ab3-bf14-b9fd09b61313",
               :page 39,
               :position {:bounding {:x1 44,
                                     :y1 106.333984375,
                                     :x2 585,
                                     :y2 448.333984375,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1686410372781},
               :properties {:color "green"}}],
 :extra {:page 41}}
