{:highlights [{:id #uuid "63fc492e-4187-4d1c-b684-3f9c37e36f45",
               :page 27,
               :position {:bounding {:x1 83,
                                     :y1 142.25,
                                     :x2 430,
                                     :y2 259.25,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1677478189311},
               :properties {:color "red"}}
              {:id #uuid "63fc49d4-3d44-4ea7-8188-84af757eb37b",
               :page 28,
               :position {:bounding {:x1 11,
                                     :y1 72.416015625,
                                     :x2 441,
                                     :y2 154.416015625,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1677478355546},
               :properties {:color "green"}}
              {:id #uuid "63fc4a00-7b2c-4d31-9350-b3d6c2a406f7",
               :page 28,
               :position {:bounding {:x1 11,
                                     :y1 158.416015625,
                                     :x2 466,
                                     :y2 291.416015625,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1677478399762},
               :properties {:color "green"}}
              {:id #uuid "63fc4b3e-2528-45d3-9164-31ca36ba2cce",
               :page 29,
               :position {:bounding {:x1 101,
                                     :y1 133.75,
                                     :x2 371,
                                     :y2 309.75,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1677478717450},
               :properties {:color "red"}}
              {:id #uuid "63fc4c10-5a83-4f6a-8421-a8d7677ebd89",
               :page 31,
               :position {:bounding {:x1 75,
                                     :y1 109.0830078125,
                                     :x2 367,
                                     :y2 216.0830078125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 31},
               :content {:text "[:span]", :image 1677478927957},
               :properties {:color "red"}}
              {:id #uuid "63fc4db2-644b-4b7e-aa8f-923b70bc1187",
               :page 35,
               :position {:bounding {:x1 17.70182228088379,
                                     :y1 17.734375,
                                     :x2 206.9075870513916,
                                     :y2 46.484375,
                                     :width 473,
                                     :height 354.75},
                          :rects ({:x1 17.70182228088379,
                                   :y1 17.734375,
                                   :x2 206.9075870513916,
                                   :y2 46.484375,
                                   :width 473,
                                   :height 354.75}),
                          :page 35},
               :content {:text "工程应用中的向量"},
               :properties {:color "yellow"}}
              {:id #uuid "63fc4f43-f9e6-42b0-9432-2d269d70a5da",
               :page 36,
               :position {:bounding {:x1 51,
                                     :y1 74.2490234375,
                                     :x2 366,
                                     :y2 292.2490234375,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 36},
               :content {:text "[:span]", :image 1677479746331},
               :properties {:color "red"}}
              {:id #uuid "63fc4f58-096f-476f-bfcb-d390e64c52ad",
               :page 37,
               :position {:bounding {:x1 27,
                                     :y1 65.916015625,
                                     :x2 458,
                                     :y2 324.916015625,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1677479766894},
               :properties {:color "green"}}
              {:id #uuid "63fc4f7e-d706-465a-a9c0-29369c6f40b3",
               :page 38,
               :position {:bounding {:x1 25,
                                     :y1 98.2490234375,
                                     :x2 453,
                                     :y2 319.2490234375,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 38},
               :content {:text "[:span]", :image 1677479805197},
               :properties {:color "green"}}
              {:id #uuid "63fc4fab-c2f4-40df-b08c-73eb6ef680ac",
               :page 39,
               :position {:bounding {:x1 9,
                                     :y1 99.5830078125,
                                     :x2 470,
                                     :y2 262.5830078125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 39},
               :content {:text "[:span]", :image 1677479850743},
               :properties {:color "green"}}
              {:id #uuid "63fc5006-13f3-4145-85bc-16dc2b689963",
               :page 40,
               :position {:bounding {:x1 108,
                                     :y1 110.2490234375,
                                     :x2 353,
                                     :y2 296.2490234375,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 40},
               :content {:text "[:span]", :image 1677479940811},
               :properties {:color "green"}}
              {:id #uuid "63fc5038-17ba-4c68-a20d-d2cba421c5bb",
               :page 41,
               :position {:bounding {:x1 22,
                                     :y1 75.916015625,
                                     :x2 462,
                                     :y2 313.916015625,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 41},
               :content {:text "[:span]", :image 1677479991147},
               :properties {:color "green"}}
              {:id #uuid "63fc5043-0b1a-4a55-82d3-d3737ea8bc1c",
               :page 42,
               :position {:bounding {:x1 17,
                                     :y1 74.5830078125,
                                     :x2 460,
                                     :y2 313.5830078125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 42},
               :content {:text "[:span]", :image 1677480002957},
               :properties {:color "green"}}
              {:id #uuid "63fc50d5-e54e-44e4-a1e1-5150581bec97",
               :page 43,
               :position {:bounding {:x1 8,
                                     :y1 90.5830078125,
                                     :x2 464,
                                     :y2 186.5830078125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1677480148560},
               :properties {:color "red"}}
              {:id #uuid "63fc5117-d32d-4bd0-9f33-0c55d07d5a0d",
               :page 43,
               :position {:bounding {:x1 6,
                                     :y1 197.5830078125,
                                     :x2 471,
                                     :y2 326.5830078125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 43},
               :content {:text "[:span]", :image 1677480214182},
               :properties {:color "red"}}
              {:id #uuid "63fc585c-fd31-4270-9df7-cbb0fee74556",
               :page 46,
               :position {:bounding {:x1 40,
                                     :y1 65.666015625,
                                     :x2 450,
                                     :y2 327.666015625,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1677482074912},
               :properties {:color "red"}}
              {:id #uuid "63fc609f-666e-40be-9828-c4571b3ef80c",
               :page 51,
               :position {:bounding {:x1 47.5390625,
                                     :y1 99.08203125,
                                     :x2 285.33203125,
                                     :y2 121.16534423828125,
                                     :width 473,
                                     :height 354.75},
                          :rects ({:x1 47.5390625,
                                   :y1 99.08203125,
                                   :x2 266.9967956542969,
                                   :y2 121.16534423828125,
                                   :width 473,
                                   :height 354.75}
                                  {:x1 279.9283752441406,
                                   :y1 99.08203125,
                                   :x2 285.33203125,
                                   :y2 121.16534423828125,
                                   :width 473,
                                   :height 354.75}),
                          :page 51},
               :content {:text "矩阵的二次型(Quadratic form)"},
               :properties {:color "yellow"}}
              {:id #uuid "63fc6477-df96-479c-8dbf-e0b6dfb572ff",
               :page 12,
               :position {:bounding {:x1 19,
                                     :y1 94.083251953125,
                                     :x2 440,
                                     :y2 282.083251953125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1677485174837},
               :properties {:color "red"}}
              {:id #uuid "63fc65ba-ee8e-4778-ae7a-0d1fc00db470",
               :page 14,
               :position {:bounding {:x1 17.70182228088379,
                                     :y1 17.734375,
                                     :x2 112.30471229553223,
                                     :y2 46.484375,
                                     :width 473,
                                     :height 354.75},
                          :rects ({:x1 17.70182228088379,
                                   :y1 17.734375,
                                   :x2 112.30471229553223,
                                   :y2 46.484375,
                                   :width 473,
                                   :height 354.75}),
                          :page 14},
               :content {:text "线性空间"},
               :properties {:color "yellow"}}
              {:id #uuid "63fc6e88-912f-418a-9403-452786a10401",
               :page 30,
               :position {:bounding {:x1 37.408851623535156,
                                     :y1 17.734375,
                                     :x2 226.61463165283203,
                                     :y2 46.484375,
                                     :width 473,
                                     :height 354.75},
                          :rects ({:x1 37.408851623535156,
                                   :y1 17.734375,
                                   :x2 226.61463165283203,
                                   :y2 46.484375,
                                   :width 473,
                                   :height 354.75}),
                          :page 30},
               :content {:text "矩阵与线性方程组"},
               :properties {:color "yellow"}}
              {:id #uuid "63fc6f34-fe3f-4f50-992e-1c242e8f9a18",
               :page 52,
               :position {:bounding {:x1 18,
                                     :y1 63.33203125,
                                     :x2 462,
                                     :y2 234.33203125,
                                     :width 473,
                                     :height 354.75},
                          :rects (),
                          :page 52},
               :content {:text "[:span]", :image 1677487923260},
               :properties {:color "red"}}
              {:id #uuid "64831af5-35b6-41ec-ad35-10e5e8db906e",
               :page 15,
               :position {:bounding {:x1 44,
                                     :y1 145.33349609375,
                                     :x2 686,
                                     :y2 476.33349609375,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1686313719718},
               :properties {:color "red"}}
              {:id #uuid "64831b09-6636-40b0-9244-c44c9cf00b77",
               :page 16,
               :position {:bounding {:x1 97,
                                     :y1 228.33349609375,
                                     :x2 600,
                                     :y2 326.33349609375,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1686313736406},
               :properties {:color "red"}}
              {:id #uuid "64831b0e-bd5c-4300-b9dd-58e687bd4e03",
               :page 17,
               :position {:bounding {:x1 128,
                                     :y1 118,
                                     :x2 621,
                                     :y2 462,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1686313741813},
               :properties {:color "red"}}
              {:id #uuid "64831b8d-ae73-4c2e-ae52-1ceb088c2b06",
               :page 18,
               :position {:bounding {:x1 22,
                                     :y1 129,
                                     :x2 672,
                                     :y2 456,
                                     :width 711,
                                     :height 533.25},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1686313868853},
               :properties {:color "red"}}],
 :extra {:page 54}}
